/* ============================================= */
/*              Images                           */
/* ============================================= */

%img {
  display: block;
  max-width: 100%;
  @include margin-inline;
}

.img-avatar,
.img-frame,
.img-logo {
  @extend %img;
}

.img-avatar {
  margin-top: 10px;
  max-height: 100%;
}

.img-frame {
  margin-top: 10px;
  padding: $spacer * .75;
  border: 1px solid #ccc;
}

@include mq-width('tablet', min) {
  .img-logo {
    margin-left: initial;
    margin-right: initial;
  }
}